h1,p{
    color: yellow;
    text-align: center;
}
h2{
    color: white;
}
body
{
    text-align: center;   
    background-color: black;
}
.div1
{
    border: 10px solid violet;
    width: 900;
}
.div2
{

    float: right;
    border: 10px solid violet;
    background-color: violet;
    width: 900px;;
    height: auto;
}

button
{
    width: 100px;
    height: 90px;

}